.title-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 15 0 15 0;
    -fx-text-fill: #1f1f1f;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 8 12;
}

.button:hover {
    -fx-background-color: #1976D2;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}
